<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
		<meta charset="utf-8">
	</head>
	<body>
        <div ng-app="myApp" 
        ng-controller="myController">
            <p>Имя: <input type="text" ng-model="name"></p>
            <p>Фамилия: <input type="text" ng-model="surname"></p>
            <p>Возраст: <input type="number" ng-model="age"></p>
            <p>Средний балл: <input type="number" ng-model="avgMark"></p>
            <input type="button" ng-click="addRow()" value="Добавить">

            <table border="2">
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Возраст</th>
                    <th>Средний балл</th>
                </tr>
                <tr ng-repeat = "student in data">
                    <td>{{student.name}}</td>
                    <td>{{student.surname}}</td>
                    <td>{{student.age}}</td>
                    <td>{{student.avgMark}}</td>
                    <td><input type="button" ng-click="editRow($index)" value="Редактировать"></td>
                    <td><input type="button" ng-click="deleteRow($index)" value="Удалить"></td>
                <tr>
                <tfoot></tfoot>
            </table>
        </div>
	<script>	
    	let app = angular.module('myApp', []);

        app.controller('myController',
            function ($scope, $http) {
                let request = {
                    method: 'get',
                    url: 'students.json',
                    dataType: 'json'
                };

                $scope.data = [];

                $http(request)
                    .success(function (data) {
                        $scope.data = data;
                        
                        let sum = 0;

                        for (let i = 0; i < data.length; i++){
                            if (data[i]["avgMark"]){
                                sum += data[i]["avgMark"];
                            } else {
                                sum += 0;
                            }
                        }

                        let tfoot = angular.element(document.querySelector("tfoot"));
                        data.length ? tfoot.text(`Средний балл всех студентов: ${(sum / (data.length ? $scope.data.length : 1)).toFixed(1)}`) : tfoot.text("Таблица пуста.");
                });

                $scope.editRow = function (index) {
                    let editElement = $scope.data[index];
                    
                    editElement["name"] = prompt("Редактировать поле Имя:", editElement["name"]);
                    editElement["surname"] = prompt("Редактировать поле Фамилия:", editElement["surname"]);
                    editElement["age"] = +prompt("Редактировать поле Возраст:", editElement["age"]);
                    editElement["avgMark"] = +prompt("Редактировать поле Средний балл:", editElement["avgMark"]);
                    $scope.data[index] = editElement;

                    let sum = 0;

                    for (let i = 0; i < $scope.data.length; i++){
                        if ($scope.data[i]["avgMark"]){
                                sum += $scope.data[i]["avgMark"];
                            } else {
                                sum += 0;
                            }
                    }

                    let tfoot = angular.element(document.querySelector("tfoot"));
                    tfoot.text(`Средний балл всех студентов: ${(sum / $scope.data.length).toFixed(1)}`);
        
                };
         
                $scope.deleteRow = function (index) {
                    let newArray = [];

                    for (let i = 0; i < $scope.data.length; i++){
                        if (i != index){
                            newArray.push($scope.data[i]);
                        }
                    }

                    $scope.data = newArray;

                    let sum = 0;

                    for (let i = 0; i < newArray.length; i++){
                        if (newArray[i]["avgMark"]){
                                sum += newArray[i]["avgMark"];
                            } else {
                                sum += 0;
                            }
                    }

                    let tfoot = angular.element(document.querySelector("tfoot"));
                    newArray.length ? tfoot.text(`Средний балл всех студентов: ${(sum / (newArray.length ? $scope.data.length : 1)).toFixed(1)}`) : tfoot.text("Таблица пуста.");
                    
                };

                $scope.addRow = function (){
                    let student = {
                        "name": $scope.name,
                        "surname": $scope.surname,
                        "age": $scope.age,
                        "avgMark": $scope.avgMark
                    };

                    $scope.data.push(student);

                    let sum = 0;

                    for (let i = 0; i < $scope.data.length; i++){
                        if ($scope.data[i]["avgMark"]){
                                sum += $scope.data[i]["avgMark"];
                            } else {
                                sum += 0;
                            }
                    }

                    let tfoot = angular.element(document.querySelector("tfoot"));
                    tfoot.text(`Средний балл всех студентов: ${(sum / $scope.data.length).toFixed(1)}`);
        
                }
        });		  
	</script>
	</body>
</html>